@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0;
}

button {
  cursor: pointer;
  width: 120px;
  height: 45px;
  border-radius: 50px;
  margin-top: 10px;
  border: 0;
}

.prev {
  position: relative;
  margin: 100px;
  margin-left: 200px;
}

header {
  background-image: url('https://images.unsplash.com/photo-1535016120720-40c646be5580?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
}

form {
  position: relative;
  width: 500px;
  max-width: 100%;
}

form input {
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
  position: relative;
}

form button {
  position: absolute;
  top: -6px;
  right: 3px;
  background-color: #7981ca;
  color: white;
}

input:focus,
button:focus {
  outline: none;
}

.movie-container {
  margin: 30px;
  width: 500px;
}

h1,
h2 {
  text-align: center;
}

ul.movies {
  list-style-type: none;
}

ul.movies li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.movies {
  position: relative;
  animation-name: list;
  animation-duration: 2s;
}

@keyframes list {
  0% {
    background-color: white;
    left: -500px;
    border-radius: 0 0 0 0;
  }
  100% {
    background-color: white;
    left: 0px;
    border-radius: 50% 50% 50% 50%;
  }
}

.btn {
  background-color: cornflowerblue;
  color: white;
  height: 25px;
}

.image {
  padding-left: 100px;
}

.movieDetails {
  position: relative;
  animation-name: movie;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes movie {
  0% {
    background-color: white;
    bottom: -1000px;
    padding-top: 0px;
  }

  100% {
    background-color: white;
    bottom: 0px;
  }
}
